<div class="searchBar">
    <div class="container">
        <form action="/search" method="post" class="search_form" role="search">

            <input type="search" name="searchTerm" id="searchInput" aria-label="Search" placeholder="Search the site...">
        </form>
        <div id="searchTerm">Close</div>
    </div>
</div>