<div class="author">
  <h1 class="author__heading">Hi, I am Sam.</h1>
  <p class="author__body">A passionate Full Stack Web Developer. Love to build websites and learn about technology.</p>
</div>

<img src="/img/hero_img.webp" alt="person looking out through window" class="hero-image" width="300" />

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString()%></span>
        </a>
      </li>
    <% }) %>
  </ul>
</section>
